.app-background {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: calc(100vh - 64px);
  margin: 0px 32px 0px 32px;
  
  .settings__form-content {
    display: flex;
    flex-direction: row;

    .settings__form-content-left {
      display: flex;
      margin-right: 16px;
      width: 50%;
      gap: 20px;
      flex-direction: column;
    }
    .settings__form-content-right {
      display: flex;
      width: 50%;
      flex-direction: column;

      .settings__form-content-days {
        display: flex;
        margin-top: 16px;
        margin-left: 16px;
        gap: 20px;
        flex-direction: column;

        .settings__form-slide-text {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          color: #2e3e4a;
          margin-left: 16px;
          font-weight: 400;
        }

        .settings__form-slide-toggle {
          padding-right: 30px;

        }
      }
    }
  }

  .settings__action-content {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 16px;

    .primary-button {
      border: 3px solid #fff;
      background-color: var(--mat-sys-primary);
      text-transform: uppercase;
      color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
  }
}


::ng-deep .mdc-switch__icons {
  visibility: hidden !important;
}


::ng-deep .mdc-switch__track {
  height: 16px !important;
}

::ng-deep .mdc-switch__shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25) !important;
}

