.app-background {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 32px 0px 32px;
  min-height: calc(100vh - 64px);

  .app-background__card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


    .app-card {
      width: calc(33.33% - 20px);
      min-width: 302px;
      height: 100px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      .app-card-title {
        height: 50px;
        width: 100%;
        display: flex;
        font-size: 24px;
        padding: 0px 16px 0px 16px;
        line-height: 31px;
        letter-spacing: 0.25px;
        font-weight: 500;
        justify-content: start;
        align-items: center;
        color: #33658a;
      }

      .app-card-subtitle {
        font-size: 14px;
        padding: 0px 16px 0px 16px;
        line-height: 18px;
        letter-spacing: 0.15px;
        font-weight: 400;
        justify-content: start;
        align-items: center;
        color: #008cbf;
      }
    }

    .app-card:last-child {
      margin-bottom: 30px;
    }
  }

  .app-card__content-action {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 16px;
  }
}

.primary-button {
  border: 3px solid #fff;
  background-color: var(--mat-sys-primary);
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
