.app-toolbar {
  padding: 0px 24px;
  display: flex;
  height: 64px;
  align-items: center;
  border-radius: 0px 0px 16px 16px;

  .app-toolbar__logo {
    display: flex;
    align-items: center;
  }
}

.app-toolbar__spacer {
  flex: 1 1 auto;
}

.app-toolbar__calendar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 18px;
  > * {
    color: #33658a;
  }
}

.app-toolbar__breadbcrumbs {
  font-size: 14px;
  line-height: 18px;
}

.app-drawer {
  background-color: #fff !important;

  .app-drawer-menu {
    width: 20%;
  }

  .app-drawer-menu__header {
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  .app-drawer-menu__items {
    width: 100%;
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    gap: 20px;

    .material-icons {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }

    .app-drawer-menu__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      color: #33658a;
      gap: 20px;

      div {
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    .app-drawer-menu__item:hover {
      cursor: pointer;
      background-color: #f5f5f5;
      padding: auto;
      border-radius: 16px;
    }

    .app-drawer-menu__title_item {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
    }

    .active-item {
      background-color: #f5f5f5;
      text-decoration: underline;
      padding: auto;
      border-radius: 16px;
    }
  }

  .app-drawer-menu__form-field {
    width: 100%;
    background-color: transparent;
  }

  .app-drawer-menu__select {
    background-color: transparent;
  }

  .app-drawer-content-bar {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 35px;
  }

  // .app-drawer-content-container {
  //   padding: 0px 32px 0px 32px;
  //   background: red;
  // }

 

  .app-drawer-divider {
    margin: 0px 40px 20px 40px;
    border-color: #def1ff;
  }
}

.app-drawer-menu__option {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  color: #33658a;
  width: 100%;
  gap: 15px;

  .mat-icon {
    margin-left: 8px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #33658a;
  }
}

.primary-button {
  border: 3px solid #fff;
  background-color: #DEF1FF;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: #fff !important;
  border-radius: 0px 0px 16px 16px !important;
}
